@media only screen and (max-width:800px) 
    {small {
        background-color: blue;
    display: none;}
    }
@media only screen and (min-width:800px) 
    {big {
        
        background-color: rgb(255, 0, 0);
    display: none;}
        
    }

