nav{background-color:#FFEE32; padding: 10px; margin-bottom: 30px;}
nav a{color: #5C0099;}
nav a:hover{background-color: #FDC500;}
.linka{color:#C86BFA ;}
body{background-color:#3D0066 ;}
h1{color: #FFD500;}
p{color: #000000;}
