nav{background-color:#FFEE32; padding: 10px; margin-bottom: 30px;}
nav a{color: #5C0099;}
nav a:hover{background-color: #FDC500;}
.linka{color:#C86BFA ;}
.linka:hover{text-decoration: underline;}
body{background-color:#3D0066 ;}
h1{color: #FFD500;}
p{color: #000000;}
.footer{ margin-top: 20px; padding: 0 10px;}
.copyright{float: left;}
.quote{float: right;}
.footer::after {
    content: "";
    display: block;
    clear:both
}
.linkad{width: 30px;
    height: auto;
    display: block;
    margin-left: 5px;
}
.row1,.row2 {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-radius: 15px;
    margin: 20px;
    padding: 20px;
    gap: 30px;
    
}

.col1,.col2{
    flex: 1;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
}

.row2{margin-top: 30px;}

iframe{width: 100%;
    border-radius: 10px;}

form input, form textarea {
    width: 100%;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ffffff;
}

.center{border: 5px solid #000000;}


